{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>{{data.h2_title}}</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {% if form.username.data %}
            {{ form.username(class="form-control", value=form.username.data) }}
        {% else %}
            {{ form.username(class="form-control") }}
        {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}
